	<li class="level-1"><a href="https://societyforbrainandcognition.nl/index">Home</a></li>
	<li class="level-1"><a href="https://societyforbrainandcognition.nl/conference">Conference</a></li>
	<li class="level-1"><a href="https://societyforbrainandcognition.nl/membership">Membership</a></li>
	<li class="level-1"><a href="https://societyforbrainandcognition.nl/dissertation-award">Dissertation award</a></li>
	<li class="level-1"><a href="https://societyforbrainandcognition.nl/early-career-award">Early career award</a></li>
	<li class="level-1"><a href="https://societyforbrainandcognition.nl/about">About</a></li>
	<li class="level-1"><a href="https://societyforbrainandcognition.nl/archive">Archive</a></li>