	<li class="level-1"><a href="http://localhost:8000/index">Home</a></li>
	<li class="level-1"><a href="http://ocs.cogsci.nl/index.php/nvp/nvp2019/">Conference</a></li>
	<li class="level-1"><a href="http://localhost:8000/membership">Membership</a></li>
	<li class="level-1"><a href="http://localhost:8000/dissertation-award">Dissertation award</a></li>
	<li class="level-1"><a href="http://localhost:8000/about">About</a></li>
	<li class="level-1"><a href="http://www.psychonomie.nl/">Archive</a></li>